<html>
    <head>
        <title>Find Lyrics for your favourite songs</title>
    </head>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <body>
        <div id="root"></div>
    </body>
    <script type="javascript">
        const App = () => {
            <h1>Hello world</h1>
        }
        ReactDOM.render(App, document.querySelector('#root'))
    </script>
</html>